<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu-Split-Button</title>
</head>
<link rel="stylesheet" type="text/css" href="../../themes/icon.css">
<link rel="stylesheet" type="text/css" href="../../themes/default/easyui.css">
<script type="text/javascript" src="../../jquery.min.js"></script>
<script type="text/javascript" src="../../jquery.easyui.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#mb').menubutton({
            plain : false,
            iconCls: 'icon-edit',
            menu: '#menu',
            menuAlign : 'left'
//            showEvent : "click"
        });

        $('#sb').splitbutton({
            iconCls: 'icon-ok',
            plain : false,
            menu: '#split'
        });
    });

</script>
<body>
    <a href="javascript:void(0)" id="mb">Edit</a>
    <div id="menu" style="width:150px">
        ...
    </div>

    <a href="javascript:void(0)" id="sb" onclick="javascript:alert('ok')">Ok</a>
    <div id="split" style="width:100px;">
        ...
    </div>
</body>
</html>